<section class="libery-sec">
 <div class="lib-conent">
   <div class="d-flex align-items-center justify-content-between">
   <p class="title"> احدث الاضافات</p>
   <div>
        <button class="all-btn"> عرض الكل  </button>
   </div>
   </div>
   <div class="row" id="row">
       <div class="col-lg-4 col-md-6 col-sm-12">
           <div class="card-items shadow-sm" appScrollReveal>
           <img src="/card-01.png" alt="card one Photo">
           <p class="card-title">السيره النبوية</p>
           <div class="double-tags d-flex gap-2 pt-3 pb-3">
            <button> مخطوط </button>
           <button> مكتبه عارف الحكمة </button>
           </div>
           <div class="d-flex justify-content-end w-100">
              <button class="start-btn">
                 <i class="fa-solid fa-arrow-left-long"></i>
                </button>
           </div>
           
           </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-12">
           <div class="card-items shadow-sm" appScrollReveal>
           <img src="/card02.jpg" alt="card tow Photo">
           <p class="card-title"> ذيل السيرة النبوية  </p>
           <div class="double-tags d-flex gap-2 pt-3 pb-3">
            <button> كتاب نادر </button>
           <button> مكتبة مدرسة الساقزلي</button>
           </div>
           <div class="d-flex justify-content-end w-100">
              <button class="start-btn">
                 <i class="fa-solid fa-arrow-left-long"></i>
                </button>
           </div>
           
           </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-12">
           <div class="card-items shadow-sm" appScrollReveal>
           <img src="/card03.jpg" alt="card three Photo">
           <p class="card-title"> السيرة النبوية لابن هشام (الجزء الثاني)</p>
           <div class="double-tags d-flex gap-2 pt-3 pb-3">
            <button> كتاب نادر </button>
           <button> مكتبة مجمع الملك عبدالعزيز</button>
           </div>
           <div class="d-flex justify-content-end w-100">
              <button class="start-btn">
                 <i class="fa-solid fa-arrow-left-long"></i>
                </button>
           </div>
           
           </div>
       </div>
   </div>
 </div>
</section>