<div class="feedbakc">
    <p> تاريخ آخر تعديل: 19/03/2025 - 4:13 م بتوقيت السعودية </p>
</div>
<footer >
    <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="footer-card-content">
        <h3>
            ملخص
        </h3>
         <hr>
        <a routerLink=""> <p> الخدمات </p> </a>
        <a routerLink=""> <p> المكتبات الوقفية</p></a> 
        <a routerLink=""> <p> تصفح المستودع</p> </a>
        <a routerLink=""> <p> المشاركة الالكترونية</p> </a>
        <a routerLink=""> <p> تسجيل الدخول</p> </a> 
       
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="footer-card-content">
        <h3>
           روابط مهمة
        </h3>
         <hr>
        <a> <p> مجمع الملك عبدالعزيز للمكتبات الوقفية <i class="fa-solid fa-up-right-from-square"></i></p> </a> 
        <a> <p> الخصوصية وشرط الاستخدام</p> </a> 
        <a> <p> اتفاقية مستوى الخدمة</p> </a> 
        <a> <p> الأسئلة الشائعة</p> </a>
        <a> <p> تواصل معنا </p> </a>
       
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="footer-card-content">
        <h3>
           تابعنا على
        </h3>
         <hr>
       <button class="x-icon shadow-lg"> <i class="fa-brands fa-x-twitter"></i>  </button>        
        <h3 class="mt-4">
           تابعنا على
        </h3>
         <hr>
         <div class="d-flex gap-2">
            <button class="x-icon shadow-lg"> <i class="fa-regular fa-eye"></i>  </button>       
            <button class="x-icon shadow-lg"> <i class="fa-solid fa-magnifying-glass-plus"></i> </button>        
            <button class="x-icon shadow-lg"> <i class="fa-regular fa-hand-lizard"></i>  </button> 
         </div>
               
       
    </div>
    </div>
    </div>
    <div class="legel-footer d-flex align-items-center justify-content-between">
       <div>
         <p class="p-legel-one"> جميع الحقوق محفوظة لمجمع الملك عبدالعزيز للمكتبات الوقفية © 2025 </p> 
         <p class="p-legel-tow ">تاريخ آخر تعديل: 04/12/2020 </p>
      </div>
        <img src="/footer-logo.png" alt="footer logo" width="66px" height="66px">
    </div>
</footer>


