.feedbakc{
    padding: 10px 60px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
footer{
    background-color: #074D31;
    padding: 32px 60px;
}
.footer-card-content h3{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.footer-card-content p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}
hr{
    color: #FFFFFF;
    margin-top: 8px;
}
.x-icon{
    padding: 4px;
    border: 1px rgba(255, 255, 255, 0.342) solid;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 14px;
}
.legel-footer{
    padding: 20px 0px;
    margin-top:70px ;
}
.p-legel-one{
    font-size: 14px;
    font-family: 600;
    color: #FFFFFF;
}
.p-legel-tow{
    font-size: 14px;
    font-family: 400;
    color: #dddada;
}
.footer-card-content a{
    cursor: pointer;
    text-decoration: none;
}
@media (max-width:992px) {
    .feedbakc{
        padding: 10px 20px;
    }
    footer{
        padding: 32px 20px;
    }
    .footer-card-content {
      margin-bottom: 20px;
    }
}