<section class="libery-sec">
 <div class="lib-conent">
   <div class="d-flex align-items-center justify-content-between">
   <p class="title"> المكتبات الوقفية </p>
   <div>
        <button class="all-btn"> عرض الكل  </button>
   </div>
   </div>
   <div class="row" id="row">
       <div class="col-lg-4 col-md-6 col-sm-12">
           <div class="card-items shadow-sm">
           <img src="/sudia-flag.jpg" alt="sudia flag">
           <p class="card-title"> مكتبة عارف الحكمه </p>
           <p class="text-addtion"> نبذه </p>
           <button class="start-btn"> استعراض </button>
           </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-12">
           <div class="card-items shadow-sm">
           <img src="/sudia-flag.jpg" alt="sudia flag">
           <p class="card-title"> المكتبه المحموديه </p>
           <p class="text-addtion"> نبذه </p>
           <button class="start-btn"> استعراض </button>
           </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-12">
           <div class="card-items shadow-sm">
           <img src="/sudia-flag.jpg" alt="sudia flag">
           <p class="card-title"> مكتبة رباط عثمان بن عفان </p>
           <p class="text-addtion"> نبذه </p>
           <button class="start-btn"> استعراض </button>
           </div>
       </div>
   </div>
 </div>
</section>